p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    border-radius: 10px;
}

h1 {
    text-align: center;
}

textarea {
    width: 90%;
    margin: 20px;
}

input {
    width: 50%;
    margin-bottom: 20px;
    border: 3px solid yellow;
}   

label {
    margin-right: 10px;
}

li {
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    margin-top: 10px;
    color: purple;
    background-color: gray;
}

#content {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 3px solid purple;
}

#beginTime {
    background-color: gray;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: purple;
}

#divData {
    margin-top: 20px;
    border-top: 3px solid yellow;
}

#restartQuiz {
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: purple;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#questionInfo {
    margin: 20px;
}

#quizTimer {
    float: right;
}

#refresh {
    background-color: gray;
    padding: 10px;
    color: purple;
    right: 5%;
    top: 30%;
    font-size: 20px;
    text-align: center;
}

#Enter {
    padding: 15px 32px;
    font-size: 20px;
    margin-left: 33%;
    color: purple;
    background-color: gray;
}

