body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-top: 90px;
}

button {
    margin: 1em;
}

.navhead {
    background-color: gray;
    color: rebeccapurple;
    padding-bottom: 0;
    width: 100%;
    padding-bottom: 0;
    padding-left: 0;
}

#navhead-title {
    padding: 15px;
    font-size: 30px;
    color: white;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    
}

.navhead-link {
    text-decoration: none;
}

#content {
    background-color: aquamarine;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 40px;
}

li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
    font-size:1.5em;
    line-height: 1.5;
    list-style: none;
}